@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto;
}


h1{
    font-size: calc(48px + 1vw);
}

h2 {
    font-size: calc(36px + 1vw);
}

h4 {
    font-size: calc(18px + 1vw);
}

p {
    font-size: calc(10px + 1vw);
    color: #4E4D50
}

span {
    font-size: calc(8px + 1vw)
}

small {
    font-size: calc(4px + 1vw)
}

/* NAVBAR */
ul {
    list-style-type: none;
}

