/* ALBUM */

.album {
    padding: 8vw 0;
    
}

/* POSTS */
.album-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: auto;
    margin: 3vw;
}

.post {
    padding-bottom: 1vw;
    margin: 1vw;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.post img {
    width: 100%;
    border-radius: 5px;
}

.post button{
    width: 95%;
    border: none;
    padding: 1vw;
    color: #fff;
    background-color: #9a0036;
    font-size: 2vw;
    border-radius: 5px;
}

/* PAGINATION */
.pagination button {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0.3vw;
    border: none;
    background-color: #1976d2
}